p{
    color: red;
}
.demo{
    color: blue;
}

/* 当两种标签指定样式产生碰撞了，谁胜出呢？ */
p{
    font-size: 200;
    width: 4px;
    background-color: aliceblue

    ;
    color: aliceblue;
    border: aqua;
}
.box{
    margin: 30px;
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    transform: rotate(0.1turn);

}
body {
    background-color: pink;
  }
  
  @media (min-width: 30em) {
    body {
      background-color: blue;
    }
  }