h1{
    color: red;
}
p,li{
    color: green;
}

li{
    list-style-type: square;
    
}
.special{
    color: orange;
    font-weight: bold;
}
/* 点号代表，选择一个class */
li em{
    color: rebeccapurple;
}
/* 空格好代表按照层级的关系往下深入 */

h1+p{
    font-size: 200%;
}
/* 加好代表，在前者标签随之到来的那个后者标签，选择这个标签 */

a:link{
    color: pink;
}
a:visited{
    color: green;
}
a:hover{
    list-style-type: none;
}
/* 冒号代表,标签的不同状态的样式 */